<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    {include file="public:meta"}
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">
            <div class="layui-form-item">
                <label for="cate_name" class="layui-form-label">
                    <span class="x-red">*</span>分类名称
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="cate_name" name="cate_name" value="{$info->cate_name}" required="" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="description" class="layui-form-label">
                    <span class="x-red">*</span>描述
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="description" name="description" value="{$info->description}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-inline">
                    <input type="checkbox" name="state" lay-skin="switch" {if $info->state}checked{/if} value="1" lay-filter="switchTest" lay-text="启用|禁用">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <input type="hidden" name="id" value="{$info->id}">
                <button class="layui-btn" lay-filter="edit" lay-submit>更新</button>
            </div>
        </form>
    </div>
</div>
{include file="public:footer"}
<script>layui.use(['form', 'layer'],
    function () {
        $ = layui.jquery;
        var form = layui.form,
            layer = layui.layer;

        //自定义验证规则
        form.verify({
            admin_name: function (value) {
                if (value.length < 5) {
                    return '昵称至少得5个字符啊';
                }
            },
            pass: [/(.+){6,12}$/, '密码必须6到12位'],
        });

        //监听提交
        form.on('submit(edit)', function (data) {
            // console.log(data);
            //发异步，把数据提交给php

            $.ajax({
                url: "",
                type: "POST",
                data: data.field,
                dataType: "json",
                success: function (res) {
                    if(res.code === 200){
                        layer.msg(res.msg, {icon: 6, time: 1000}, function () {
                            layer_close();
                            try{
                                parent.layui.table.reload("tableList");
                            }catch (e) {
                                xadmin.father_reload();
                            }

                        });
                    }else{
                        layer.msg(res.msg, {icon: 5,time:1500});
                    }
                },
                error: function (res) {
                    layer.msg('网络错误');
                    console.log(res);
                }
            });

            return false;
        });

    });</script>

</body>

</html>
