<!doctype html>
<html class="x-admin-sm">
<head>
    <title>后台登录-KCMS</title>
    {include file="public:meta"}
    <link rel="stylesheet" href="__CSS__/login.css">

</head>
<body class="login-bg">

<div class="login layui-anim layui-anim-up">
    <div class="message">KCMS-管理登录{$title}</div>
    <div id="darkbannerwrap"></div>

    <form method="post" class="layui-form" lay-filter="loginForm">
        <input name="admin_name" placeholder="用户名" type="text" lay-verify="required" class="layui-input">
        <hr class="hr15">
        <input name="password" lay-verify="required" placeholder="密码" type="password" class="layui-input">
        <hr class="hr15">
        <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
        <hr class="hr20">
    </form>
</div>

<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="__LIB__/layui/layui.js" charset="utf-8"></script>

<script>
    $(function () {
        layui.use('form', function () {
            var form = layui.form;

            //监听提交
            form.on('submit(login)', function (data) {

                $.ajax({
                    url: "{:url('Login/login')}",
                    type: "POST",
                    data: data.field,
                    dataType: "json",
                    success: function (res) {
                        if(res.code === 200){
                            layer.msg(res.msg, {icon: 6,time:1000}, function(){
                                location.href = "{:url('Index/index')}";
                            });
                        }else{
                            form.val('loginForm',{'password':''});
                            layer.msg(res.msg, {icon: 5,time:1500});
                        }
                    },
                    error: function (res) {
                        layer.msg('网络错误');
                        console.log(res);
                    }
                });
                return false;
            });
        });
    })
</script>
<!-- 底部结束 -->
<script>
    //百度统计可去掉
</script>
</body>
</html>